doctype html
html
  head
    meta(charset="UTF-8")
    title تأكيد بريدك الإلكتروني - B2Crypto
    style.
      body {
        background-color: #121212;
        color: #ffffff;
        font-family: Arial, sans-serif;
        padding: 20px;
        text-align: center;
      }
      .container {
        max-width: 600px;
        margin: auto;
        background: #1e1e1e;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
      }
      h1 {
        font-size:1.3em;
        color: #ffffff;
      }
      p {
        font-size: 16px;
        line-height: 1.6;
      }
      .button {
        display: inline-block;
        padding: 15px 25px;
        margin-top: 15px;
        text-decoration: none;
        font-weight: bold;
        border-radius: 5px;
        background: #ffffff;
        color: #121212;
      }
      .footer {
        font-size: 14px;
        margin-top: 20px;
        color: #bbb;
      }

  body
    .container
      h1 ✉️ تأكيد بريدك الإلكتروني
      p.footer B2crypto لقد قمت بالتسجيل في 
      p.footer يرجى تأكيد بريدك الإلكتروني للوصول إلى جميع ميزات الموقع
    
      a.button(href=verificationURL) تأكيد الحساب الآن
      
      p.footer إذا لم تقم بالتسجيل، يمكنك تجاهل هذه الرسالة


