doctype html
html
  head
    meta(charset="UTF-8")
    title B2Crypto - ูุฑุญุจูุง ุจู
    style.
      body {
        font-family: Arial, sans-serif;
        padding: 20px;
        text-align: center;
        min-height: 100vh;
        margin: 0;
        padding:0;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .container {
        max-width: 600px;
        margin: auto;
        background: #1e1e1e;
        padding: 20px;
        border-radius: 12px;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
      }
      h1 {
        font-size: 1.5em; ;
        color:rgb(222, 235, 222);
      }
      h2 {
        color:rgb(255, 255, 255);
      }
      ul {
        list-style: none;
        padding: 0;
      }
      li {
        margin: 10px 0;
        padding: 2.5px;
        border-radius: 100px;
        display: flex;
        align-items: center;
        color :rgb(255, 255, 255) ;
      }
      li span {
        margin-left: 10px;
      }
      .button {
        display: inline-block;
        padding: 10px 10px 10px; 
        margin-top: 20px;
        color: #ffffff;
        background:rgb(8, 58, 9);
        text-decoration: none;
        font-size: 18px;
        border-radius: 5px;
      }
      .footer {
        margin-top: 20px;
        font-size: 16px;
        color: #bbb;
      }
  body
    .container
      h1 ๐ B2Crypto ูุฑุญุจุง ุจู ูู 
      p.footer #{name} ูุฑุญุจูุง   
      p.footer ููุฏ ุงุชุฎุฐุช ุฎุทูุชู ุงูุฃููู ูุญู ูุณุชูุจู ูุงูู ุฃูุซุฑ ููู ู ุฐูุงุก 
      p.footer  ูุญู ููุง ููููุฑ ูู ุงูุฃุฏูุงุช ูุงูุชูููุงุช ุงูุญุฏูุซู ูุงุตุชุซูุงุฑ ูุงุฌุฎ ูู ุงูุนููุงุช ุงูุฑูููู ุจุณูููู ูุฃูุงู  
      h2 ๐ฅุ B2Crypto ููุงุฐุง 
      ul
        li โ <span> ููุฏูููุงุช ุชุนููููุฉ ูู ุงูุตูุฑ ุญุชู ุงูุงุญุชุฑุงู</span>
        li ๐ <span> ุงุณุชุซูุงุฑ ุจุฐูุงุก ูุน ุชุญูููุงุช ุฏูููุฉ ููุฑุต ุญุตุฑูุฉ</span>
        li ๐ <span> ุฅุฏุงุฑุฉ ุดุงููุฉ ููุญูุธุชู ูู ูุจู ูุฎุชุตูู</span>
        li ๐ <span> ุฅููุงููุฉ ุดุฑุงุก ูุจูุน ุงูุนููุงุช ุงูุฑูููุฉ ุนุจุฑ ููุตุงุช ููุซููุฉ ุนุงููููุง</span>
        li ๐ฏ <span> ุฏุนู ุงุญุชุฑุงูู ูุชุญููู ุฃูุถู ุงูุนูุงุฆุฏ</span>
      p.footer ุงุฐุง ููุช ุจุญุงุฌู ุงูู ูุณุงุนุฏู , ูุฑูููุง ููุง ูุฎุฏูุชู ุนูู ูุฏุงุฑ ุงูุณุงุนู 
      p.footer โฌ : ุงูุฏุนู ุงูููู 
      a.button(href="https://wa.me/yourwhatsapplink") ุชูุงุตู ุนุจุฑ ูุงุชุณุงุจ
      p.footer ๐ ูุฑุงู ูู ุงูููุฉ 







